#projects {
  background: linear-gradient(180deg, #141717 0%, #1d1f20 100%);
  position: relative;
}

.projects-container {
  margin: 0 20%;
  padding-bottom: 10rem;
}

.projects-header,
.projects-subheader {
  margin-bottom: 8rem;
}

.projects-header h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: var(--text-xxxxl);
}

.projects-subheader h2 {
  text-align: center;
  font-size: var(--text-xxl);
  color: var(--text-color-medium);
  margin-bottom: 4rem;
}

.projects-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.project-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  border: 1px solid var(--accent-color);
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.3s ease-out;
}

.project-card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.project-image {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.project-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-out;
}

.project-card:hover .project-logo-container {
  top: 15%;
}

.project1-logo {
  width: 15rem;
}

.project2-logo {
  width: 5rem;
}

.project-content {
  position: absolute;
  bottom: -70px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
	width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.project-card:hover .project-content {
  bottom: 0;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.project-title {
  font-size: var(--text-xl);
  color: var(--text-color-medium);
  margin-bottom: 2rem;
  font-weight: bold;
	margin-bottom: 2rem;
	transition: all 0.3s ease-out;
}

.project-description {
  margin-bottom: 4rem;
}

.project-card p {
  font-size: var(--text-r);
  color: var(--text-color-soft);
  line-height: 2rem;
  text-align: justify;
	transition: all 0.3s ease-out;
}

.project-stack {
  font-size: var(--text-r);
  margin-bottom: 4rem;
  line-height: 3rem;
  text-align: justify;
  transition: all 0.3s ease-out;
}

.project-stack span {
  color: var(--accent-color);
  font-size: var(--text-l);
}

.project-link {
  color: #fff;
  font-size: var(--text-xl);
  text-decoration: none;
}

.project-icons {
  position: absolute;
  left: 0;
  bottom: 4rem;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  transition: all 0.3s ease-in;
}

.project-card:hover .project-icons {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.project-icons a {
width: 5rem;
height: 5rem;
background: rgba(217, 217, 217, 0.1);
display: inline-flex;
border-radius: 50%;
align-items: center;
justify-content: center;
line-height: 1;
border: 1px solid rgba(255, 255, 255, 0.5);
}

.project-icons a::before {
content: '';
width: 5rem;
height: 5rem;
position: absolute;
background-color: #ffffff;
border-radius: 50%;
transform: scale(0);
transition: 0.3s ease-in-out;
}

.project-icons a:hover::before {
transform: scale(1);
}

.project-icons a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}

.project-icons a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.projects-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotateY(180deg);
}

.projects-wave svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 105px;
}

.projects-wave .stroke-fill {
  stroke: var(--wave-highlight-color);
  stroke-width: 0.3rem;
}

.projects-wave .shape-fill {
  fill: #141717;
}


@media screen and (max-width: 1023px) {
  
  #projects {
    background-size: cover;
  }

  .projects-header h1 {
    font-size: var(--text-xxxl);
  }

  .projects-subheader h2 {
    font-size: var(--text-xl);
  }

  .projects-row {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 10rem;
  }

 
}


@media screen and (max-width: 599px) {

  .projects-container {
    margin: 0 10%;
  }



}