@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	width: 100vw;
	height: 10rem;
	border-bottom: 0.3rem solid transparent;
	transition: all 0.5s ease-in-out;
}

header.scrolled {
	border-bottom: 0.3rem solid var(--highlight-color);
	background-color: var(--background-static);
	transition: all 0.5s ease-in-out;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	max-width: 1440px;
	width: 100%;
	height: 100%;
	padding: 0 5%;
}

.header-logo-name {
	display: flex;
	align-items: center;
}

.header-logo-container {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-right: 2rem;
}

.header-logo {
	width: 7rem;
	cursor: pointer;
}

.nav-mobile-name {
	display: none;
	letter-spacing: 0.5rem;
	margin-left: 2rem;
}

.nav-menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-menu {
	display: block;
	align-items: center;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 4rem;
}

.header-menu li {
	list-style: none;
}

.header-menu .menu-link {
	color: #fff;
	font-size: var(--text-l);
	text-decoration: none;
	transition: 0.1s ease-in-out;
}

.header-menu li:hover .menu-link {
	color: var(--button-hover);
}

.header-icons {
	display: flex;
	align-items: center;
}

.icons {
	display: flex;
	gap: 2rem;
}

.icons a {
	width: 42px;
	height: 42px;
	background: rgba(217, 217, 217, 0.1);
	display: inline-flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	line-height: 1;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.icons a::before {
	content: "";
	width: 42px;
	height: 42px;
	position: absolute;
	background-color: #ffffff;
	border-radius: 50%;
	transform: scale(0);
	border: 1px solid var(--button-hover);
	transition: 0.3s ease-in-out;
}

.icons a:hover::before {
	transform: scale(1);
}

.icons a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.icons a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
		hue-rotate(346deg) brightness(95%) contrast(86%);
}

.connect-button {
	font-weight: 700;
	color: #fff;
	border: 1px solid #fff;
	padding: 18px 34px;
	margin-left: 2rem;
	font-size: var(--text-r);
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.connect-icon {
	display: none;
}

.connect-button span {
	z-index: 1;
}

.connect-button::before {
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	background-color: #ffffff;
	left: 0;
	top: 0;
	z-index: -1;

	transition: 0.3s ease-in-out;
}

.connect-button:hover {
	color: #121212;
}

.connect-button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

.mobile-controls {
	display: none;
}

@media screen and (max-width: 1268px) {
	.header-logo {
		width: 5rem;
	}

	.header-menu {
		gap: 2rem;
	}

	.connect-button {
		padding: 1.5rem 2rem;
		margin-left: 2rem;
		font-size: var(--text-s);
	}

	.header-menu .menu-link {
		font-size: var(--text-r);
	}
}

@media screen and (max-width: 1023px) {
	header {
		transition: 0.5s ease-in-out;
	}

	/* .header-logo-container {
    max-width: 4rem;
  } */

	.header-logo {
		width: 4.2rem;
	}

	.mobile-controls {
		display: flex;
		align-items: center;
		width: 2.5rem;
		color: #fff;
		font-size: var(--text-xxxl);
		background: none;
		border: none;
	}

	.nav-mobile-name {
		display: block;
		letter-spacing: 0.5rem;
	}

	.nav-menu-container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		padding-top: 6.5rem;
		padding-right: 5%;
		position: fixed;
		top: 8.8rem;
		right: -30rem;
		width: 20rem;
		height: 100vh;
		opacity: 0;
		background-color: transparent;
		transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}

	.nav-menu-container.scrolled {
		background-color: #141717;
		border-bottom: 5px solid var(--accent-color);
		transition: 0.5s ease-in-out;
	}

	.nav-menu-container.visible {
		right: 0;
		opacity: 1;
		transition: 0.5s ease-in-out;
	}

	#nav-menu {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.header-menu,
	.header-icons {
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		margin: 0 0 2rem 0;
		gap: 2rem;
	}

	.icons {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: 2rem;
	}

	.connect-button {
		display: none;
	}

	.connect-icon {
		display: block;
		width: 4.2rem;
		height: 4.2rem;
		margin-top: 2.5rem;
	}
}

@media screen and (max-width: 599px) {
	header {
		transition: 0.5s ease-in-out;
	}

	.header-logo-container {
		margin-right: 0;
	}

	.header-logo {
		width: 4.2rem;
	}

	#mobile-controls {
		display: flex;
		align-items: center;

		color: #fff;
		font-size: var(--text-xxxl);
	}

	nav {
		padding: 1rem 10%;
	}

	.nav-mobile-name {
		display: block;
		font-size: var(--text-xs);
		letter-spacing: 0.5rem;
	}

	.nav-menu-container {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		padding-top: 6.5rem;
		padding-right: 10%;
		position: fixed;
		top: 6.5rem;
		right: -30rem;
		width: 20rem;
		height: 100vh;
		opacity: 0;
		background-color: transparent;
		transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
	}

	.nav-menu-container.scrolled {
		background-color: #141717;
		border-bottom: 5px solid var(--accent-color);
		transition: all 0.5s ease-in-out;
	}

	.nav-menu-container.visible {
		right: 0;
		opacity: 1;
		transition: all 0.5s ease-in-out;
	}

	#nav-menu {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.header-menu,
	.header-icons {
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		margin: 0 0 2rem 0;
		gap: 2rem;
	}

	.icons {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: 2rem;
	}

	.connect-button {
		display: none;
	}

	.connect-icon {
		display: block;
		width: 4.2rem;
		height: 4.2rem;
	}
}
