#journey {
  background: var(--background-color);
  padding-top: 2rem;
  padding-bottom: 15rem;
  z-index: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.journey-background-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../assets/img/texture04.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  mask-image: url("../assets/img/splatter3.svg");
  mask-size: cover;
  mask-position: center center;
  mask-repeat: no-repeat;
}

.journey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.journey-header {
  position: relative;
  height: 20rem;
  width: 30rem;
  margin-bottom: 4rem;
}

.journey-header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--text-xxxxl);
  width: 100%;
}

.journey-header h3 {
  text-align: center;
  font-size: var(--text-xxxl);
}

.journey-content {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  margin-bottom: 15rem;
}

.journey-column-one,
.journey-column-two {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
}

.journey-column-two {
  margin-top: 7rem;
}

.block {
  display: block;
  width: 100%;
  background: linear-gradient(180deg, #606d6d48 0%, #2d363940 100%);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 3rem;
}

.journey-content p {
  font-size: var(--text-xl);
  color: var(--text-color-medium);
  line-height: 3rem;
}

.journey-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.journey-link {
  display: flex;
  align-items: center;
}

.journey-link-description {
  display: none;
  margin-left: 4rem;
}

.journey-icons {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.journey-icons a {
  width: 7rem;
  height: 7rem;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.journey-icons a::before {
  content: '';
  width: 7rem;
  height: 7rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.journey-icons a:hover::before {
  transform: scale(1);
}

.journey-icons a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.journey-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.journey-icons-text {
  display: none;

}

.journey-connect-button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 1.8rem 3.4rem;
  margin-top: 4rem;
  font-size: var(--text-l);
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.journey-connect-icon {
  display: none;
}

.journey-connect-button span {
  z-index: 1;
}

.journey-connect-button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.journey-connect-button:hover {
  color: #121212;
}

.journey-connect-button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}


.journey-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.journey-wave svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 160px;
}

.journey-wave .stroke-fill {
  stroke: var(--wave-highlight-color);
  stroke-width: 3px;
}

.journey-wave .shape-fill {
  fill: #141717;
}


@media screen and (max-width: 1023px) {


  #journey {
    background-size: cover;
  }

  .journey-header h1 {
    font-size: var(--text-xxxl);
  }
  
  .journey-header h3 {
    font-size: var(--text-xxl);
  }

  .journey-content {
    flex-direction: column;
    flex: repeat(1, 1fr);
    align-items: center;
    width: 100%;
  }
  

  .journey-column-one,
  .journey-column-two {
    width: 100%;
  }

  .block-one,
  .block-two,
  .block-three,
  .block-four {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .block {
    width: 100%;
  }

  .journey-content h4 {
    font-size: var(--text-l);
  }

  /* .journey-link-description {
    display: block;
  } */

  .journey-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

  .journey-connect-button {
    display: none;
    
  }

  .journey-connect-icon {
    display: block;
    width: 4rem;
    height: 4rem;
    filter: brightness(100);
  }

  .journey-connect-icon:hover {
    scale: 1.1;
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }

}


@media screen and (max-width: 599px) {

  .journey-container {
    margin: 0 10%;

  }

  .journey-link-description {
    display: block;
  }

  .journey-icons {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .journey-icons a {
    width: 5rem;
    height: 5rem;
  }
  
  .journey-icons a::before {
    width: 5rem;
    height: 5rem;
  }


}