#skills {
  background: var(--background-color);
  padding-top: 4rem;
  position: relative;
}

.skills-container {
  margin: 0 20%;
  padding-bottom: 20rem;
}

.skills-header h1 {
  text-align: center;
  font-size: var(--text-xxxxl);
}

.skills-header h3 {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-size: var(--text-xl);
  color: var(--text-color-medium);
}

.skills-row {
  position: relative;
}

.skills-content {
  overflow-x: scroll;
  display: flex;
  
  
}

.skills-slider {
  display: flex;
  align-items: center;
  height: 22rem;
  gap: 4rem;
  padding: 0 1rem;
  border-top: 2px solid var(--accent-color);

}

.skills-slider-top-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  box-shadow: 0 10px 25px rgba(250, 251, 223, 1),
  0 10px 25px rgba(250, 251, 223, 1),
  0 10px 25px rgba(250, 251, 223, 1),
  0 10px 25px rgba(250, 251, 223, 1);
  filter: brightness(300);
}

.skills-slider::-webkit-scrollbar {
  height: 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 90px;
  height: 130px;
  background: var(--card-background-color);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.15s ease-in-out;
}

.skill-card:hover {
  scale: 0.9;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.skill-card img {
  position: absolute;
  width: 60px;
  z-index: 1;
  transition: all 0.15s ease-in-out;
}

.skill-card:hover img {
  scale: 1.5;
  transform: translateY(-2rem);
}

.skill-card .skill-name {
  position: absolute;
  font-size: var(--text-s);
  opacity: 0;
  z-index: 0;
  transition: all 0.15s ease-in;
}

.skill-card:hover .skill-name {
  display: block;
  transform: translateY(3.5rem);
  opacity: 1;
}

.skills-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.skills-wave svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 120px;
}

.skills-wave .stroke-fill {
  stroke: var(--wave-highlight-color);
  stroke-width: 3px;
}

.skills-wave .shape-fill {
  fill: #141717;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 599px) {

  .skills-container {
    margin: 0 10%;
  
  }

}