#connect {
  padding: 15rem 0;
  overflow: hidden;
  border-top: 5px solid transparent;
  transition: all 0.5s ease-in-out;
}

#connect.scrolled {
  border-top: 5px solid var(--accent-color);
}

.contact-container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp-notice {
  font-size: var(--text-l);
  color: var(--text-color-medium);
  width: 100%;
  margin: 10rem;
}

.cat-face-container {
  /* outline: 1px solid #f00 !important; */
  overflow: hidden;
  position: relative;
  mix-blend-mode: screen;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 43rem;
}

.cat-face {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100rem;
  max-width: 100rem;
  z-index: 1;
  
}

.cat-eyes {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60rem;
  /* outline: 1px solid #f00 !important; */
  z-index: 0;
}

.cat-leftEye,
.cat-rightEye {
  width: 30rem;
  height: 30rem;
  z-index: 0;
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  gap: 2rem;
}

.contact-icon {
  height: 6rem;
  transform: rotate(45deg);
  fill: #fff;
  margin-right: 1rem;
}

.contact-container h1 {
  font-size: var(--text-xxxxl);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.contact-container .ow {
  color: var(--accent-color);
}

#contact form {
  display: flex;
  flex-direction: column;
}

#contact form label {
  font-size: var(--text-r);
  color: var(--text-color-medium);
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

#contact form input {
  padding: 1rem;
  border: none;
  font-size: var(--text-l);
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

#contact form input:focus {
  outline: 2px solid var(--accent-color);
}

#contact form textarea {
  padding: 1rem;
  border: none;
  font-size: var(--text-l);
  margin-bottom: 4rem;
  resize: none;
  border-radius: 0.3rem;
}

#contact form textarea:focus {
  outline: 2px solid var(--accent-color);
}

.contact-submit-button {
  display: flex;
  align-items: center;
  background-color: #0037ff;
  color: var(--text-color-medium);
  font-size: var(--text-l);
  padding: 1rem 4rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 4rem;
  border-radius: 0.3rem;
}

.contact-submit-button span {
  flex: 1;
  text-align: center;
}

.contact-submit-button img {
  width: 2.5rem;
  margin-left: 1rem;
}

.contact-submit-button:hover {
  background-color: #0e57a4;
}

.cotact-status-message::before {
  content: 'Hello';
}

.contact-status-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}

.contact-status-message p {
  font-size: var(--text-l);
  color: var(--text-color-medium);
  margin-bottom: 2rem;
}


@media screen and (max-width: 1023px) {

  #connect {
    padding: 5rem 0;
  }


  .contact-container {
    margin: 0 10%;
  }

  .cat-face-container {
    min-height: 25rem;
  }

  .cat-face {
    top: 0;
    left: 50%;
    min-width: 50rem;
    max-width: 50rem;    
  }

  .cat-eyes {
    position: absolute;
    top: -35px;
    left: 21rem;
    width: 32rem;
    /* outline: 1px solid #f00 !important; */
  }

  .cat-leftEye,
  .cat-rightEye {
    width: 20rem;
    height: 20rem;
  }

  .contact-icon {
    height: 4rem;
    margin-right: 0;
  }
  
  .contact-container h1 {
    font-size: var(--text-xxxl);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .contact-card {
 
    width: 100%;
  }

  #contact form label {
    font-size: var(--text-s);
    margin-bottom: 0.5rem;
  }

  #contact form input {
    padding: 0.5rem;
    font-size: var(--text-r);
  }
  
  #contact form textarea {
    padding: 0.5rem;
    font-size: var(--text-r);
  }

  .contact-submit-button {
    color: var(--text-color-medium);
    font-size: var(--text-r);
    padding: 0.8rem 4rem;
    transition: background-color 0.2s;
    border-radius: 0.3rem;
  }

}





@media screen and (max-width: 599px) {

  #connect {
    padding: 5rem 0;
  }


  .contact-container {
    margin: 0 10%;
  }

  .cat-face-container {
    min-height: 13rem;
  }

  .cat-face {
    top: 0;
    left: 50%;
    min-width: 30rem;
    max-width: 30rem;    
  }

  .cat-eyes {
    width: 19rem;
    /* outline: 1px solid #f00 !important; */
    position: absolute;
    top: -60px;
    left: 10rem;
  }

  .cat-leftEye,
  .cat-rightEye {
    width: 20rem;
    height: 20rem;
  
  }

  .contact-icon {
    height: 4rem;
    margin-right: 0;
  }
  
  .contact-container h1 {
    font-size: var(--text-xxxl);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .contact-card {
    width: 100%;
  }

  #contact form label {
    font-size: var(--text-s);
    margin-bottom: 0.5rem;
  }

  #contact form input {
    padding: 0.5rem;
    font-size: var(--text-r);
  }
  
  #contact form textarea {
    padding: 0.5rem;
    font-size: var(--text-r);
  }

  .contact-submit-button {
    color: var(--text-color-medium);
    font-size: var(--text-r);
    padding: 0.8rem 4rem;
    transition: background-color 0.2s;
    border-radius: 0.3rem;
  }

}