/*======================== FONTS ========================*/

@import url('./assets/fonts/fonts.css');


/*==================== CSS VARIABLES ====================*/

:root {

    /* Global Colours */

  --accent-color: #DE9E36;
  --journey-accent-color: #FF0066;
  --background-color: linear-gradient(180deg, #141717 0%, #1d1f20 100%);
  --card-background-color: linear-gradient(to bottom right, #2f3636, #171e1e);

  --journey-background: linear-gradient(to bottom right, #322d22, #1c1810);
  --projects-background:  linear-gradient(to bottom right, #003a3a, #0d2727);

  --text-color-light: #fff;
  --text-color-dark: #323232;
  --copy-color: #5C5C5C;
  --copy-dkbg-color: #8D8D8D;


    /* Global Font Sizes */

  font-size: 62.5%;

  --text-xxs: 0.8rem;
  --text-xs: 1rem;
  --text-s: 1.2rem;
  --text-r: 1.6rem;
  --text-l: 1.8rem;
  --text-xl: 2.2rem;
  --text-xxl: 2.8rem;
  --text-xxxl: 3.2rem;
  --text-xxxxl: 4rem;
  --text-xxxxxl: 6rem;
  --text-xxxxxxl: 8rem;
  --text-xxxxxxxl: 10rem;

  

    /* Global Margins */

  --margin-body-desktop: 0 10%;
  --margin-body-mobile: 2rem 10%;




}


/*========================== BASE =======================*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid #f00 !important; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: #141717 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal; 
}